foundations/.idea
foundations/.idea/**/workspace.xml
foundations/.idea/**/tasks.xml
foundations/.idea/**/usage.statistics.xml
foundations/.idea/**/dictionaries
foundations/.idea/**/shelf
foundations/.idea/discord.xml
foundations/.idea/workspace.xml
out/
foundations/target/
log.log
application.properties
