<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Soulnotes</display-name>
    <welcome-file>index.html</welcome-file>
    <listener>
        <listener-class>dev.richard.soulnotes.utils.ContextLoaderListener</listener-class>
    </listener>
</web-app>